body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw;

}

.fizz-buzz {
    width: 50vw;
    height: 100vh;
    text-align: center;
}